In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<h1><center> Big Data Challenge: Sustainability in a Post-Covid World </h1></center>

The following analysis will help the Emergent Alliance, IBM and R$^2$ Data Labs understand:
1. How did the economy react when businesses had to close? 
2. Were some sectors (for instance energy production) more afffected than others? 
3. Is there a particular impact onto the economy and energy usage levels?

Function for loading Excel data:

In [116]:
def load_excel_data(path, sheet_name=None, index_col=0):
    '''Load specified data set from an Excel sheet
    
    Args:
        path (str): The location of the Excel file.
        sheet_name (str or int or list): Specify which Excel sheet to load, can be sheet name, number (starting at 0) or list of sheets.
        index_col (int): Specify what index header are on.
    
    Returns:
        data: n rows from the dataframe.
    '''
    excel_df = pd.read_excel(path, sheet_name, index_col)
    return excel_df

### 3) Is there a particular impact onto the economy and energy usage levels?

Analysis of the April, May, June 2020 energy demand compared to same period in 2019 from Major Power Producers and Sustainable Renewables (Table 5.3 in Excel)

In [156]:
elec_gen_by_MPP_Q2_months = load_excel_data('ET_5.3_AUG_20.xls', sheet_name='Month', index_col=3)
elec_gen_by_MPP_Q2_months

,Unnamed: 0,Unnamed: 1,Total,Coal,Oil,Gas,Nuclear,Hydro,Wind,Bioenergy,Solar
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995,January,6.300000,3.495000,0.358300,0.874000,1.512000,0.050300,..,..,..
2,1995,February,6.257000,3.437000,0.343000,0.829000,1.589000,0.048600,..,..,..
3,1995,March*,7.443000,4.139000,0.380800,0.947000,1.912000,0.050800,..,..,..
4,1995,April,5.320000,2.560000,0.179800,0.756000,1.776000,0.038800,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...
303,2020,March,3.734560,0.158407,0.012067,1.577485,0.845854,0.050180,0.567809,0.487725,0.0350337
304,2020,April,3.030282,0.044485,0.007019,1.165947,0.948713,0.025804,0.345542,0.442426,0.0503458
305,2020,May,3.044369,0.019191,0.005774,1.105274,1.030223,0.020148,0.322117,0.480496,0.0611457
306,2020,June,3.085639,0.039362,0.005563,1.346934,0.821137,0.019213,0.340155,0.46688,0.0463951
307,Return to contents page,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# Rename unlabled columns from the data set
elec_gen_by_MPP_Q2_months_clean = elec_gen_by_MPP_Q2_months.rename(columns = {'Unnamed: 0':'Year', 'Unnamed: 1':'Month'})
elec_gen_by_MPP_Q2_months_clean

,Year,Month,Total,Coal,Oil,Gas,Nuclear,Hydro,Wind,Bioenergy,Solar
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1995,January,6.300000,3.495000,0.358300,0.874000,1.512000,0.050300,..,..,..
2,1995,February,6.257000,3.437000,0.343000,0.829000,1.589000,0.048600,..,..,..
3,1995,March*,7.443000,4.139000,0.380800,0.947000,1.912000,0.050800,..,..,..
4,1995,April,5.320000,2.560000,0.179800,0.756000,1.776000,0.038800,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...
303,2020,March,3.734560,0.158407,0.012067,1.577485,0.845854,0.050180,0.567809,0.487725,0.0350337
304,2020,April,3.030282,0.044485,0.007019,1.165947,0.948713,0.025804,0.345542,0.442426,0.0503458
305,2020,May,3.044369,0.019191,0.005774,1.105274,1.030223,0.020148,0.322117,0.480496,0.0611457
306,2020,June,3.085639,0.039362,0.005563,1.346934,0.821137,0.019213,0.340155,0.46688,0.0463951
307,Return to contents page,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
elec_gen_by_MPP_2020 = elec_gen_by_MPP_Q2_months_clean[elec_gen_by_MPP_Q2_months_clean['Year']==2020]
elec_gen_by_MPP_2020_amj = elec_gen_by_MPP_2020.iloc[3:6]
elec_gen_by_MPP_2020_amj

,Year,Month,Total,Coal,Oil,Gas,Nuclear,Hydro,Wind,Bioenergy,Solar
304,2020,April,3.030282,0.044485,0.007019,1.165947,0.948713,0.025804,0.345542,0.442426,0.0503458
305,2020,May,3.044369,0.019191,0.005774,1.105274,1.030223,0.020148,0.322117,0.480496,0.0611457
306,2020,June,3.085639,0.039362,0.005563,1.346934,0.821137,0.019213,0.340155,0.46688,0.0463951