## In this lesson
1. How to handle copmplex excels in Pandas.
2. Sharpening your pandas toolkit
3. How to say it with charts

# Reading Multiple Excel Sheets
Often excels have more than one tab. <br>
Pandas allows us multiple ways to read an excel <br>
Lets execute following commands as see the difference

In [2]:
import pandas as pd

In [3]:
first_sheet_only = pd.read_excel('data/movies.xls')

selected_sheet_only = pd.read_excel('data/movies.xls', sheet_name = '2000s')

selected_sheet_only_w_index = pd.read_excel('data/movies.xls', sheet_name = 1)

all_sheets = pd.read_excel('data/movies.xls', sheet_name = None)

In [ ]:
# In this cell check result of variable first_sheet_only
first_sheet_only

In [ ]:
# In this cell check result of variable selected_sheet_only

In [ ]:
# In this cell check result of variable selected_sheet_only_w_index

In [7]:
# In this cell check result of variable all_sheets
all_sheets
# all_sheets['2000s']

{'1900s':                                                   Title  Year  \
 0     Intolerance: Love's Struggle Throughout the Ages   1916
 1                       Over the Hill to the Poorhouse   1920
 2                                       The Big Parade   1925
 3                                           Metropolis   1927
 4                                        Pandora's Box   1929
 ...                                                 ...   ...
 1333                                  Twin Falls Idaho   1999
 1334                     Universal Soldier: The Return   1999
 1335                                     Varsity Blues   1999
 1336                                    Wild Wild West   1999
 1337                                    Wing Commander   1999

                             Genres Language  Country Content Rating  Duration  \
 0                Drama|History|War      NaN      USA      Not Rated       123
 1                      Crime|Drama      NaN      USA            NaN       110
 2                Drama|Romance|War      NaN      USA      Not Rated       151
 3                     Drama|Sci-Fi   German  Germany      Not Rated       145
 4              Crime|Drama|Romance   German  Germany      Not Rated       110
 ...                            ...      ...      ...            ...       ...
 1333                         Drama  English      USA              R       111
 1334                 Action|Sci-Fi  English      USA              R        83
 1335    Comedy|Drama|Romance|Sport  English      USA              R       106
 1336  Action|Comedy|Sci-Fi|Western  English      USA          PG-13       106
 1337       Action|Adventure|Sci-Fi  English      USA          PG-13       100

       Aspect Ratio       Budget  Gross Earnings  ... Facebook Likes - Actor 1  \
 0             1.33     385907.0             NaN  ...                      436
 1             1.33     100000.0       3000000.0  ...                        2
 2             1.33     245000.0             NaN  ...                       81
 3             1.33    6000000.0         26435.0  ...                      136
 4             1.33          NaN          9950.0  ...                      426
 ...            ...          ...             ...  ...                      ...
 1333          1.85     500000.0        985341.0  ...                      980
 1334          1.85   24000000.0      10431220.0  ...                     2000
 1335          1.85   16000000.0      52885587.0  ...                    23000
 1336          1.85  170000000.0     113745408.0  ...                    10000
 1337          2.35   30000000.0      11576087.0  ...                      811

      Facebook Likes - Actor 2 Facebook Likes - Actor 3  \
 0                          22                      9.0
 1                           2                      0.0
 2                          12                      6.0
 3                          23                     18.0
 4                          20                      3.0
 ...                       ...                      ...
 1333                      505                    482.0
 1334                      577                    485.0
 1335                      255                     35.0
 1336                     4000                    582.0
 1337                      586                    362.0

      Facebook Likes - cast Total  Facebook likes - Movie  \
 0                            481                     691
 1                              4                       0
 2                            108                     226
 3                            203                   12000
 4                            455                     926
 ...                          ...                     ...
 1333                        3166                     180
 1334                        4024                     401
 1335                       23369                       0
 1336                       15870                       0
 1337                        2497                     858

       Facenumber in posters  User Votes  Reviews by Users  Reviews by Crtiics  \
 0                         1       10718                88                69.0
 1                         1           5                 1                 1.0
 2                         0        4849                45                48.0
 3                         1      111841               413               260.0
 4                         1        7431                84                71.0
 ...                     ...         ...               ...                 ...
 1333                      0        3479                87                54.0
 1334                      0       24216               162                75.0
 1335                      0       35312               267                67.0
 1336                      2      129601               648                85.0
 1337                      3       14747               338                85.0

       IMDB Score
 0            8.0
 1            4.8
 2            8.3
 3            8.3
 4            8.0
 ...          ...
 1333         7.3
 1334         4.1
 1335         6.4
 1336         4.8
 1337         4.1

 [1338 rows x 25 columns],
 '2000s':                                   Title  Year  \
 0                       102 Dalmatians   2000
 1                              28 Days   2000
 2                            3 Strikes   2000
 3                             Aberdeen   2000
 4                All the Pretty Horses   2000
 ...                                 ...   ...
 2095          X-Men Origins: Wolverine   2009
 2096                          Year One   2009
 2097                   Youth in Revolt   2009
 2098  ZMD: Zombies of Mass Destruction   2009
 2099                        Zombieland   2009

                                         Genres Language Country  \
 0                      Adventure|Comedy|Family  English     USA
 1                                 Comedy|Drama  English     USA
 2                                       Comedy  English     USA
 3                                        Drama  English      UK
 4                        Drama|Romance|Western  English     USA
 ...                                        ...      ...     ...
 2095  Action|Adventure|Fantasy|Sci-Fi|Thriller  English     USA
 2096                          Adventure|Comedy  English     USA
 2097                      Comedy|Drama|Romance  English     USA
 2098                      Comedy|Horror|Sci-Fi  English     USA
 2099            Adventure|Comedy|Horror|Sci-Fi  English     USA

      Content Rating  Duration  Aspect Ratio       Budget  Gross Earnings  ...  \
 0                 G     100.0          1.85   85000000.0      66941559.0  ...
 1             PG-13     103.0          1.37   43000000.0      37035515.0  ...
 2                 R      82.0          1.85    6000000.0       9821335.0  ...
 3               NaN     106.0          1.85    6500000.0         64148.0  ...
 4             PG-13     220.0          2.35   57000000.0      15527125.0  ...
 ...             ...       ...           ...          ...             ...  ...
 2095          PG-13     119.0          2.35  150000000.0     179883016.0  ...
 2096          PG-13     100.0          1.85   60000000.0      43337279.0  ...
 2097              R      90.0          1.85   18000000.0      15281286.0  ...
 2098              R      89.0          1.85     500000.0             NaN  ...
 2099              R      88.0          2.35   23600000.0      75590286.0  ...

      Facebook Likes - Actor 1 Facebook Likes - Actor 2  \
 0                      2000.0                    795.0
 1                     12000.0                  10000.0
 2                       939.0                    706.0
 3                       844.0                      2.0
 4                     13000.0                    861.0
 ...                       ...                      ...
 2095                  20000.0                  16000.0
 2096                  10000.0                   1000.0
 2097                  12000.0                    904.0
 2098                    199.0                     37.0
 2099                  15000.0                  13000.0

      Facebook Likes - Actor 3 Facebook Likes - cast Total  \
 0                       439.0                        4182
 1                       664.0                       23864
 2                       585.0                        3354
 3                         0.0                         846
 4                       820.0                       15006
 ...                       ...                         ...
 2095                   2000.0                       40054
 2096                    485.0                       12258
 2097                    729.0                       16004
 2098                     23.0                         292
 2099                     11.0                       28011

       Facebook likes - Movie  Facenumber in posters  User Votes  \
 0                        372                      1       26413
 1                          0                      1       34597
 2                        118                      1        1415
 3                        260                      0        2601
 4                        652                      2       11388
 ...                      ...                    ...         ...
 2095                       0                      0      361924
 2096                       0                      2       76770
 2097                       0                      2       64646
 2098                       0                      0        3650
 2099                   26000                      4      386217

       Reviews by Users  Reviews by Crtiics  IMDB Score
 0                 77.0                84.0         4.8
 1                194.0               116.0         6.0
 2                 10.0                22.0         4.0
 3                 35.0                28.0         7.3
 4                183.0                85.0         5.8
 ...                ...                 ...         ...
 2095             641.0               350.0         6.7
 2096             203.0               170.0         4.9
 2097             105.0               192.0         6.5
 2098              39.0                64.0         5.1
 2099             553.0               445.0         7.7

 [2100 rows x 25 columns],
 '2010s':                                      Title    Year  \
 0                               127 Hours   2010.0
 1                             3 Backyards   2010.0
 2                                       3   2010.0
 3               8: The Mormon Proposition   2010.0
 4     A Turtle's Tale: Sammy's Adventures   2010.0
 ...                                    ...     ...
 1599              War & Peace                  NaN
 1600                    Wings                  NaN
 1601               Wolf Creek                  NaN
 1602        Wuthering Heights                  NaN
 1603  Yu-Gi-Oh! Duel Monsters                  NaN

                                          Genres  Language    Country  \
 0            Adventure|Biography|Drama|Thriller   English        USA
 1                                         Drama   English        USA
 2                          Comedy|Drama|Romance    German    Germany
 3                                   Documentary   English        USA
 4                    Adventure|Animation|Family   English     France
 ...                                         ...       ...        ...
 1599                  Drama|History|Romance|War   English         UK
 1600                               Comedy|Drama   English        USA
 1601                      Drama|Horror|Thriller   English  Australia
 1602                              Drama|Romance   English         UK
 1603  Action|Adventure|Animation|Family|Fantasy  Japanese      Japan

      Content Rating  Duration  Aspect Ratio      Budget  Gross Earnings  ...  \
 0                 R      94.0          1.85  18000000.0      18329466.0  ...
 1                 R      88.0           NaN    300000.0             NaN  ...
 2           Unrated     119.0          2.35         NaN         59774.0  ...
 3                 R      80.0          1.78   2500000.0         99851.0  ...
 4                PG      88.0          2.35         NaN             NaN  ...
 ...             ...       ...           ...         ...             ...  ...
 1599          TV-14       NaN         16.00         NaN             NaN  ...
 1600            NaN      30.0          1.33         NaN             NaN  ...
 1601            NaN       NaN          2.00         NaN             NaN  ...
 1602            NaN     142.0           NaN         NaN             NaN  ...
 1603            NaN      24.0           NaN         NaN             NaN  ...

      Facebook Likes - Actor 1 Facebook Likes - Actor 2  \
 0                     11000.0                    642.0
 1                       795.0                    659.0
 2                        24.0                     20.0
 3                       191.0                     12.0
 4                       783.0                    749.0
 ...                       ...                      ...
 1599                   1000.0                    888.0
 1600                    685.0                    511.0
 1601                    511.0                    457.0
 1602                  27000.0                    698.0
 1603                      0.0                      NaN

      Facebook Likes - Actor 3 Facebook Likes - cast Total  \
 0                       223.0                       11984
 1                       301.0                        1884
 2                         9.0                          69
 3                         5.0                         210
 4                       602.0                        3874
 ...                       ...                         ...
 1599                    502.0                        4528
 1600                    424.0                        1884
 1601                    206.0                        1617
 1602                    427.0                       29196
 1603                      NaN                           0

       Facebook likes - Movie  Facenumber in posters  User Votes  \
 0                      63000                    0.0      279179
 1                         92                    0.0         554
 2                       2000                    0.0        4212
 3                          0                    0.0        1138
 4                          0                    2.0        5385
 ...                      ...                    ...         ...
 1599                   11000                    1.0        9277
 1600                    1000                    5.0        7646
 1601                     954                    0.0         726
 1602                       0                    2.0        6053
 1603                     124                    0.0       12417

       Reviews by Users  Reviews by Crtiics  IMDB Score
 0                440.0               450.0         7.6
 1                 23.0                20.0         5.2
 2                 18.0                76.0         6.8
 3                 30.0                28.0         7.1
 4                 22.0                56.0         6.1
 ...                ...                 ...         ...
 1599              44.0                10.0         8.2
 1600              56.0                19.0         7.3
 1601               6.0                 2.0         7.1
 1602              33.0                 9.0         7.7
 1603              51.0                 6.0         7.0

 [1604 rows x 25 columns]}

# [Q1] Find out how many sheets are in the excel

In [8]:
# Test shape of all 3 variables above
# variable all_sheets does not have a shape because its a dict.
len(all_sheets)

3

## [Q2] How many rows in excel tab 2010s. [Hint: Try accessing one of the key-value pairs in Dictionary]

In [9]:
# Please complete the rest of this cell
len(all_sheets['2010s'])

1604

# Adding columns to existing dataframes
Many time we have to add new columns to the data deriving it from existing columns.

# Add budget of movies by 10 %

## [Q3] Lets read first sheet of excel in variable movies_df

In [12]:
# Please complete the rest of this cell
movies_df = first_sheet_only

In [13]:
# Lets increase movie budget by 10%

def inc_by_10_pc(num):
    return num *1.10

movies_df['increased_budget'] = movies_df['Budget'].apply(inc_by_10_pc)
movies_df[['Budget', 'increased_budget']]

           Budget  increased_budget
0        385907.0          424497.7
1        100000.0          110000.0
2        245000.0          269500.0
3       6000000.0         6600000.0
4             NaN               NaN
...           ...               ...
1333     500000.0          550000.0
1334   24000000.0        26400000.0
1335   16000000.0        17600000.0
1336  170000000.0       187000000.0
1337   30000000.0        33000000.0

[1338 rows x 2 columns]

## [Q4] Create a new cloumn with 1 point decrease in IMDB rating of movies

In [ ]:
# Please complete the rest of this cell

# Groupby

- Group by is used to split a pandas dataframe into groups.
- Similar to groupby in other langauage e.g SQL

In [14]:
movies_mean = movies_df.groupby('Year')['Gross Earnings'].mean()
movies_mean

Year
1916             NaN
1920    3.000000e+06
1925             NaN
1927    2.643500e+04
1929    1.408975e+06
            ...
1995    4.490952e+07
1996    4.204417e+07
1997    4.479377e+07
1998    3.837701e+07
1999    3.807218e+07
Name: Gross Earnings, Length: 74, dtype: float64

## Count number of movies by each country

In [15]:
# Please complete the rest of this cell
movies_by_country_count = movies_df.groupby('Country')['Title'].count()
movies_by_country_count

Country
Aruba                1
Australia           18
Brazil               2
Canada              25
China                1
Czech Republic       1
Denmark              3
France              26
Germany             12
Hong Kong            3
India                1
Iran                 2
Italy               11
Japan                9
Libya                1
Mexico               1
Netherlands          3
New Zealand          2
Norway               1
Peru                 1
South Korea          1
Soviet Union         1
Spain                4
Sweden               1
Switzerland          1
UK                 130
USA               1073
West Germany         3
Name: Title, dtype: int64

# Joining 2 dataframes

- Most of the time single dataframe does not posses enough information
- Information can be enriched by joining two dataframes

In [16]:
#Lets create a small dataframe with flags of countries
emojis = dict(
    USA =  '🇺🇸',
    UK = '🇬🇧',
    France = '🇫🇷',
    Canada = '🇨🇦',        
    Australia = '🇦🇺',       
    Germany = '🇩🇪',  
    Italy = '🇮🇹',  
    Japan = '🇯🇵',     
    Spain = '🇪🇸'    
)

flag_df = pd.Series(emojis, name='flag').reset_index()
flag_df

       index flag
0        USA   🇺🇸
1         UK   🇬🇧
2     France   🇫🇷
3     Canada   🇨🇦
4  Australia   🇦🇺
5    Germany   🇩🇪
6      Italy   🇮🇹
7      Japan   🇯🇵
8      Spain   🇪🇸

In [ ]:
movies_by_country_df = movies_by_country_count.to_frame().rename(columns={"Title": "Title counts"})
movies_by_country_df

In [ ]:
#Now lets join it with our movies df and add flags to countries
movies_by_country_df.merge(flag_df, left_on='Country', right_on='index')

## Where did remaining rows go ??

## Extra Credits

- What are different types of join available?
- How would you avoid dropping rows which do not have a flag lookup? 
- Hint: see how above command behaves with another join strategy.